<!DOCTYPE html>
<html>
<head>
<style>
table, td, th {
  border: 1px solid rgb(10, 139, 190);
}

table {
  border-collapse: collapse;
  width: 100%;
}
th {
  height:250px;
  width: 20%;
}
</style>
</head>
<body>

<h2>Bomberbot parents</h2>

<table>
  <tr>
    <th>Score</th>
    <th>Mission</th>
    <th>Savings</th>
  </tr>
  <tr>
    <th>Score</th>
    <th>Mission</th>
    <th>Savings</th>
  </tr>
  <tr>
    <th>Score</th>
    <th>Mission</th>
    <th>Savings</th>
  </tr>
</table>

</body>
</html>
