frontend/node_modules/
backend/__pycache__/
db.sqlite3

api/__pycache__/admin.cpython-36.pyc
api/__pycache__/serializer.cpython-36.pyc
api/__pycache__/urls.cpython-36.pyc
api/__pycache__/views.cpython-36.pyc
api/migrations/__pycache__/
npm-debug.log

*api/__pycache__/__init__.cpython-36.pyc*
*api/__pycache__/models.cpython-36.pyc*
frontend/dist


*__pycache__*
*migrations*