* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***********************************************
STYLES OF HEADER
***********************************************/
header .container-fluid {
    background-color: rgb(28, 163, 163);
    border-bottom: 0.1rem solid black;
}

header .container-fluid .img-logo {
    height: 4rem;
    width: 4rem;
}

header .container-fluid a {
    color: black;
    font-size: 1.2rem;
    margin-left: 1.5rem;
    text-decoration: none;
}

header .container-fluid a:hover {
    color: white;
    font-size: 1.2rem;
}

/***********************************************
STYLES OF MAIN
***********************************************/
.container {
    /* background: blue; */
    height: 40rem;
    display: flex;
}

.container .area-formulario {
    
}

.container .row .formulario {
    height: 55%;
    width: 35rem;
    /* border: .1rem solid black; */
}

/***********************************************
STYLES OF FOOTER
***********************************************/
footer .container-fluid{
    background-color: rgb(28, 163, 163);
    border-top: 0.1rem solid black;
    height: 8rem;
}