@-webkit-keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand-fwd-top {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(-500px);
              transform: translateZ(-700px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

.tracking-in-expand-fwd-top {
	-webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
.home-bb {
    width: 15rem;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem 1.7rem;
    border-radius: 1rem;
    transition: 0.5s;
    border: 0.1rem solid orange;
    background: #f7a441;
}

.home-bb a {
    text-decoration: none;
    color: orangered;
    justify-self: center;
}

.home-bb:hover {
    width: 15rem;
    height: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem 1.7rem;
    border-radius: 1rem;
    transition: 0.5s;
    border: 0.1rem solid orange;
    background: #e9c08e;
}
