/***********************************************
CHILDREN
***********************************************/
.card{
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 1rem;
  /* box-shadow:0 2px 20px rgba(0,0,0,.2); */
  box-shadow: 0 2px 20px rgb(5, 5, 5);
  margin-top: 5rem;;
}

.card:before,
.card:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 8px; */
  background: #fff;
  transition: 0.5s;
  z-index:-1;
  border-radius: 1rem;
}
.card:hover:before{
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
/* background: #222; */
/* background: white */
transition: 0.5s;
z-index: 1;
}

.card:hover .imgBx
{
  bottom: 30px;
  
}

.card .imgBx img{
    /* ojo */
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    width: 100%;
    height: 77%;
    object-fit: cover;
}

.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
} 

.style-main-scrool{
  overflow-y: scroll;
}