.style-header {
    font-size: 1rem;
    background-color: #6cc78e;
    border-bottom: 0.1rem solid black;
    height: 5rem;
    z-index: 100;
    text-align: center;
    /* color: #ee6330; */
    /* color:white; */
    /* color: white; text-shadow: black 0.1em 0.1em 0.2em */
}

.style-shadow {
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
}