.container {
    /* background: blue; */
    height: 40rem;
    display: flex;
}

main .container .imag_main {
    position: fixed;
    width: 100%;
    height: 100%;
}

.container .row .formulario {
    height: 65%;
    width: 35rem;
    /* border: .1rem solid black; */
}